# Ignore all 
*

# except main program for each lab.
!.gitignore
!.gitattributes
!*main.c

# except report documents in tex and pdf format and their images folder.
# lab1 report is incomplete since it is a example for my first switch
# to writing labs in latex.
!*trejo_devin_001.tex 
!*trejo_devin_001.pdf
!*/images/*
!*trejo_devin_004.pdf
!*trejo_devin_004.tex
!*trejo_devin_005.pdf
!*trejo_devin_005.tex

# Even if files are in sub-directories.
!*/